<a href="https://colab.research.google.com/github/victorkiuti/Demo-repository/blob/main/Notebook_class_1_Victor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello world")

**Variables in python**

The variable saves a value for some data

In [ ]:
name = "Tony" #Variable of variable is a string (names)
age = 30 #Tyoe Variable is Integer or numeric (The program can read without the "")
print (name)
print (age)

In python you can change de value of a variable after specify a data for that variable.
Example

In [ ]:
name = "tony"
age = 20
name = age
print (name)